In [1]:
import pandas as pd

In [8]:
datos = pd.read_csv('materias.csv')

In [19]:
df = pd.DataFrame(datos)

In [20]:
datos.head(1)

  Alumno Curso  Materias Previas  Materias Desaprobadas
0    Ana   5°A                 2                      1

In [33]:
datos.tail(1)

   Alumno Curso  Materias Previas  Materias Desaprobadas
8  Marcos   5°A                 2                      2

In [62]:
datos_filtrados = datos['Materias Desaprobadas']>2

In [63]:
datos[datos_filtrados]

  Alumno Curso  Materias Previas  Materias Desaprobadas
1   Pepe   4°B                 1                      4
2  Juana   5°A                 0                      3
5  Jorge  6° B                 3                      4

In [78]:
datos_filtrados = datos['Materias Previas']==0

In [79]:
datos[datos_filtrados]

    Alumno Curso  Materias Previas  Materias Desaprobadas
0      Ana   5°A                 0                      1
1     Pepe   4°B                 0                      4
2    Juana   5°A                 0                      3
3    Lucia   3°C                 0                      0
4   Jimena   5°A                 0                      1
5    Jorge  6° B                 0                      4
6  Joselin  6° B                 0                      2
7    Kevin   4°A                 0                      1
8   Marcos   5°A                 0                      2